@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap');

.App {
  text-align: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: 350ms ease-in-out;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.GenerateBtn {
  font-family: 'Barlow', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 125px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 15px;
  background-color: #06f;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 350ms ease-in-out background-color;
}
.GenerateBtn:hover {
  background-color: #005ce6;
}

.PaletteBlock {
  width: 19%;
  height: 90%;
}
.ColorBlock {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: 250ms ease-in-out;
  position: relative;
}
.colorName {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 24px;
  font-family: 'Barlow', sans-serif;
  padding: 15px 5px;
}
.ColorScheme {
  width: 95%;

  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Navbar {
  height: 7.5%;
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}
.logo {
  font-weight: 700;
  font-family: 'Barlow', sans-serif;
}
.ControlBar {
  height: 7.5%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrowControl svg {
  margin-left: 20px;
  cursor: pointer;
}
.Footer {
  height: 5%;
}
.footerContainer {
  display: flex;
  align-items: center;
}
.footerContainer p {
  margin-right: 12px;
  color: #888;
  text-decoration: underline;
}
/* Mode Classes */
.light {
  background-color: #ffffff;
  color: #111;
}
.dark {
  background-color: #191919;
  color: #eee;
}
.modeIcon {
  cursor: pointer;
}
