@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.App {
  text-align: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: 350ms ease-in-out;
}
.generateMessage {
  text-align: center;
  color: #888;
}
.GenerateBtn {
  display: none;
}
.PaletteBlock {
  width: 19%;
  height: 100%;
}
.ColorBlock {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: 150ms ease;
  position: relative;
}
.copyColor {
  height: 20%;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.ColorScheme {
  width: 95%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ColorPicker {
  position: absolute;
  background: #fff;
  width: 150px;
  padding: 15px;
  border-radius: 5px;
  transform: translateX(-50%);
  left: 50%;
  bottom: 20%;
  z-index: 99;
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.11);
}
.ColorPicker::after {
  content: '';
  position: absolute;
  transform: rotate(45deg) translateX(-50%);
  z-index: -1;
  bottom: -27px;
  left: 50%;
  width: 30px;
  height: 30px;
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.11);
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}
.popUpContent {
  font-family: 'Fredoka One', cursive;
  color: #1e1e20;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ColorPicker input {
  height: 30px;
  width: 30px;
  transform: scale(1.5);
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
.inputContainer {
  height: 30px;
  width: 30px;
  display: flex;
  padding: 0;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.11);
}
.Navbar {
  height: 7.5%;
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-weight: 700;
  font-family: 'Fredoka One', cursive;
}
.ControlBar {
  height: 7.5%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer {
  height: 5%;
}
.Footer a {
  text-decoration: none;
}
.footerContainer {
  height: 100%;
  display: flex;
  align-items: center;
}
.footerContainer p {
  font-size: 14px;
  margin-right: 6px;
  color: #888;
}

.Navbar svg:hover,
.ControlBar svg:hover {
  stroke: #06f;
  fill: #06f;
}
.modeIcon {
  cursor: pointer;
}

.colorBlockControls {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 1;
}
.colorBlockControls i {
  transition: 450ms ease-in-out opacity;
  opacity: 0;
}
.colorBlockControls:hover i {
  opacity: 1;
}
.isLocked {
  opacity: 1;
}
.mobileMoveIcons {
  display: none !important;
}
.CopyConfirmation {
  opacity: 0;
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background: lightgreen;
  color: green;
  border-radius: 15px;
  transition: 450ms ease-in;
}

/* Mode Classes */
.light {
  background-color: #ffffff;
  color: #06f;
  fill: #ddd;
  stroke: #ddd;
}
.dark {
  background-color: #1e1e20;
  color: #ddd;
  fill: #888;
  stroke: #888;
}
.lightContrast {
  color: #eee;
  stroke: #eee;
  opacity: 0.7;
}
.lightContrast:hover {
  stroke: #fff;
  opacity: 1;
}
.darkContrast {
  color: #000;
  stroke: #111;
  opacity: 0.7;
}
.darkContrast:hover {
  stroke: #111;
  opacity: 1;
}

/* Drag n Drop */

.dropArea {
  position: relative;
}
.dropArea::before {
  content: 'Drop Here';
  font-family: 'Fredoka One', cursive;
  z-index: 2;
  color: #06f;
  background: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  border: 2px solid #06f;
  border-radius: 5px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .ColorScheme {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    -webkit-order: 3;
    order: 3;
  }
  .Navbar,
  .ControlBar {
    width: 90%;
  }
  .PaletteBlock {
    width: 100%;
    height: 19%;
  }
  .copyColor {
    font-size: 16px;
    text-align: left;
    padding: 25px;
  }
  .CopyConfirmation {
    width: 300px;
  }
  .ColorBlock {
    display: flex;
    align-items: center;
  }
  .ColorBlock input {
    pointer-events: none;
  }
  .colorBlockControls {
    width: 50%;
    flex-direction: row;
    position: absolute;
    right: 50px;
  }
  .colorBlockControls i {
    opacity: 1;
  }
  .colorBlockControls i svg {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  .moveIcon {
    display: none;
  }
  .mobileMoveIcons {
    display: flex !important;
  }
  .ControlBar {
    -webkit-order: 4;
    order: 4;
  }
  .Footer {
    display: none;
  }
  .generateMessage {
    display: none;
  }
  .GenerateBtn {
    width: 100%;
    justify-content: center;
    font-size: 16px;
    padding: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    background-color: #06f;
    color: #fff;
    border: 1px solid #005ce6;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 350ms ease-in-out background-color;
    display: block;
  }

  .colorBlockControls input {
    font-size: 12px;
  }
  .ColorPicker {
    visibility: hidden;
  }
}
.moveIcon {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
